/******* CUSTOM CSS GOES HERE ******/
.bg-red{
	background-color: #df2b2b !important;
}

.footer-black{
    background-color: #20232e !important;
}

.jumbotron-image{
    width: 1200px;
    height: 400px;
    margin-left: -70px;

}
.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.container-fluid {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.dropdown-menu{
	background-color: #df2b2b;
	border: none;
}

.dropdown-menu a{
	color: #fff;
}

.event{
	margin-top: 10px;
	margin-bottom: 10px;
}
.event .image{
    overflow:hidden;
    height:300px;
    position:relative
}

.event .image img{
    width: 100%;
    height:100%;
}

.event .image .overlay{
    background-image:-webkit-linear-gradient(90deg, #000 0%, rgba(0,0,0,0.08) 92%, rgba(53,39,60,0.03) 97%, rgba(105,78,119,0) 100%);
    opacity:0.902;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:30%;
    padding:5px 30px;
    color:#fff
}

.event .image .overlay strong{
    font-size:3rem
}

.event .image .overlay span{
    font-size:1.3rem
}

.event .text{
    background:#f5f5f5;
    padding:20px;
    height:100%
}

.event .text p{
    font-size:0.85rem
}

.text-link-footer a{
	color: #f8f9fa;
}

.text-link-footer a:hover{
	color: #cccccc;
	text-decoration: none !important;
}


/************ SLICKY HERE ****************/
.card{
    width: 10%;
    height: 10%;
}

.rounded-0{
    width: 300px;

}

/************ SLICKY HERE ****************/
@media (min-width: 768px) {
    .slider {
        width: 90%;
        margin: 50px auto;
    }
}

@media (min-width: 1024px) {
    .slider {
        width: 90%;
        margin: 50px auto;
    }
}

@media (min-width: 320px) {
    .slider {
        width: 80%;
        margin: 50px auto;
    }
}

* {
  box-sizing: border-box;
}

.slider {
    width: 75%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: red !important;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-prev {
    margin-left: -50px;
}

.slick-next {
    margin-right: -50px;
}

